/Numerical methods/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Numerical methods/obj/Debug/Numerical methods.csproj.CoreCompileInputs.cache
/Numerical methods/obj/Debug/Numerical methods.csproj.FileListAbsolute.txt
/Numerical methods/obj/Debug/Numerical methods.csprojAssemblyReference.cache
